/* src/styles/global.scss */
@use 'variables';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  /* La magia: Transición suave al cambiar de tema */
  transition: background-color 0.3s ease, color 0.3s ease;
}